{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <h1 class="text-2xl text-center mt-10">Users index</h1>

    <table class="table w-3/4 text-sm text-left text-gray-500 dark:text-gray-400 mt-4 mx-auto">
        <thead class="text-l text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-6 py-3">Id</th>
                <th class="px-6 py-3" >Email</th>
                <th class="px-6 py-3">Roles</th>
                <th class="px-6 py-3">Is verified</th>
                <th class="px-6 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="bg-white border-b dark:bg-white-900 dark:border-gray-700 text-black">
                <td  class="px-6 py-4">{{ user.id }}</td>
                <td  class="px-6 py-4">{{ user.email }}</td>
                <td  class="px-6 py-4">{{ user.roles|join(', ') }}</td>
                <td  class="px-6 py-4">{{ user.isVerified ? 'Yes':'No' }}</td>
                <td  class="px-6 py-4 font-bold">
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr  class="px-6 py-4">
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="flex justify-center mt-5 font-bold">
        <a href="{{path('app_register_admin')}}"> Créer ADMIN </a>
    </div>
    {% endif %}
    
{% endblock %}
