{% extends 'base.html.twig' %}

{% block title %}WorkSession index{% endblock %}

{% block body %}
    <h1>WorkSession index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>StartedAt</th>
                <th>FinishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_session in work_sessions %}
            <tr>
                <td>{{ work_session.id }}</td>
                <td>{{ work_session.startedAt ? work_session.startedAt|date('d-m-Y') : '' }}</td>
                <td>{{ work_session.startedAt ? work_session.startedAt|date('H:i:s') : '' }}</td>
                {% if work_session.finishedAt == null %}
                    <td>En cours</td>
                    {% else %}
                    <td>{{ work_session.finishedAt ? work_session.finishedAt|date('H:i:s') : '' }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_work_session_show', {'id': work_session.id}) }}">show</a>
                    <a href="{{ path('app_work_session_edit', {'id': work_session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_session_new') }}">Create new</a>
{% endblock %}
